
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--=========================*
         Page Container
*===========================-->
<div class="container-scroller">
    <!--=========================*
              Navigation
    *===========================-->
   
    <!--=========================*
              Main Content
    *===========================-->
    <div class="main-content">
        <div class="main-content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card_title">Application Tour</h4>
                                <p>
                                    Hopscotch is a framework to make it easy for developers to add product tours to their pages. Hopscotch accepts a tour JSON object as input and provides an API for the developer to control rendering the tour display and managing the tour progress.
                                </p>
                                <p>To learn more about Hopscotch and the API, check out <a href="http://linkedin.github.io/hopscotch/">linkedin.github.io/hopscotch</a></p>
                                <button id="startTourBtn" class="btn btn-primary">Start Tour</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=================================*
                  Footer Section
    *===================================-->
   
    <!--=================================*
                End Footer Section
    *===================================-->

</div>
<!--=========================*
        End Page Container
*===========================-->


<!--=========================*
            Scripts
*===========================-->

<!-- Jquery Js -->
